<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Minima reprehenderit deserunt culpa, enim deleniti dolore, dolor vero consequuntur pariatur
        vel autem voluptate voluptas provident sapiente debitis ad non ullam? Magni?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda natus aliquam, explicabo rerum atque dolore
        hic autem maiores eligendi. Culpa!</p>
</body>

</html>